[Unit]
Description=Notify a slack room when this server starts/stops
Requires=network.target
After=network.target
Before=shutdown.target
ConditionFileIsExecutable=/usr/sbin/slack-webhook

[Service]
Type=oneshot
User=root
Group=root

#Left this as an example that you can just set env var one at a time
#Environment="ROOM=general"

EnvironmentFile=/etc/slack-webhooks/slack_environment_file
ExecStart=/usr/sbin/slack-webhook -r $ROOM -u $USER -e $EMOJI -l info \
                                  -t $TITLE -m $MSG \
                                  --title-right $TITLE_RIGHT --message-right $MSG_RIGHT
ExecStop=/usr/sbin/slack-webhook -r $ROOM -u $USER -e $EMOJI -l info \
                                  -t $TITLE -m $MSG \
                                  --title-right $TITLE_RIGHT --message-right $MSG_RIGHT
RemainAfterExit=yes
