[Unit]
Description=Notify a slack room when this server starts/stops
Requires=network.target
After=network.target
Before=shutdown.target
ConditionFileIsExecutable=/usr/sbin/slack-webhook

[Service]
Type=oneshot
User=root
Group=root
EnvironmentFile=-/etc/scack-webhooks/slack_environment_file
ExecStartPre=-/etc/slack-webhooks/slack_start.sh
ExecStart=/usr/sbin/slack-webhook $SLACK_WEBHOOK_ARGS
ExecStopPre=-/etc/slack-webhooks/slack_stop.sh
ExecStop=/usr/sbin/slack-webhook $SLACK_WEBHOOK_ARGS
RemainAfterExit=yes
